{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block page_title %}
    {% trans "contact us" %}
{% endblock page_title %}

{% block content %}
    <!-- Breadcrumb area Start -->
    <div class="breadcrumb-area bg-color ptb--90" data-bg-color="#f6f6f6">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center flex-sm-row flex-column">
                        <h1 class="page-title">تماس با ما</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb area End -->

    <!-- Main Content Wrapper Start -->
    <div id="content" class="main-content-wrapper">
        <div class="page-content-inner pt--75">
            <div class="container">
                <div class="row pb--80"> 
                    <div class="col-md-7 mb-sm--30">
                        <h2 class="heading__secondary mb--50 mb-md--35 mb-sm--20">پیام خود را به ما بگویید</h2>

                        <!-- Contact form Start Here -->
                        <form  method='POST' action="{% url "website:contact_us" %}" id="contact-form">
                            {% csrf_token %}
                            {{form|crispy}}
                            
                                <button type="submit" class="btn-submit">{% trans "submit" %}</button>
                 
                        </form>
                        <!-- Contact form end Here -->
                    </div>
                    <div class="col-md-5 pl--50 pl-sm--30">
                        <h2 class="heading__secondary mb--50">اطلاعات تماس</h2>
                        
                        <!-- Contact info widget start here -->
                        <div class="contact-info-widget mb--45">
                            <div class="contact-info">
                                <h3 class="heading__tertiary">{% trans "address posts" %}</h3>
                                <p>{% trans "pravaz street" %}<br> {% trans "iran kish island" %}</p>
                            </div>
                        </div>
                        <!-- Contact info widget end here -->

                        <!-- Contact info widget start here -->
                        <div class="contact-info-widget two-column-list sm-one-column mb--45">
                            <div class="contact-info mb-sm--35">
                                <h3 class="heading__tertiary">{% trans "phone number" %}</h3>
                                <a href="">09215274489</a>
                            </div>
                            <div class="contact-info">
                                <h3 class="heading__tertiary">{% trans "email" %}</h3>
                                <a href="mailto:hossein.h.a770227@gamil.com">hossein.h.a770227@gamil.com</a>
                            </div>
                        </div>
                        <!-- Contact info widget end here -->

                        <!-- Social Icons Start Here -->
                        <ul class="social social-sharing">
                            <li class="social__item">
                                <a href="https://instagram.com/hossein77__________" class="social__link instagram">
                                <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- Social Icons End Here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content Wrapper Start -->
{% endblock content %}