{% extends "_base.html" %}
{% load i18n %}

{% block page_title %}
    {% trans "verify code" %}
{% endblock page_title %}

{% block content %}
    <!-- Breadcrumb area Start -->
    <div class="breadcrumb-area bg-color ptb--90" data-bg-color="#f6f6f6">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center flex-sm-row flex-column">
                        <h1 class="page-title">{% trans "verify" %}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb area End -->

    <!-- Main Content Wrapper Start -->
    <div class="main-content-wrapper">
        <div class="page-content-inner pt--75 pb--80">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="register-box">
                            <h4 class="heading__tertiary mb--30">{% trans "verify" %}</h4>
                            <form action='{% url "accounts:verify_code" %}' method='POST' class="form form--login">
                                {% csrf_token %}
                                <div class="form__group mb--20">
                                    <label class="form__label form__label--2" for="verify_code">{% trans "otp code" %}<span class="required">*</span></label>
                                    <input type="text" class="form__input form__input--2" id="verify_code" name="code">
                                    {% if form.code.errors %}
                                        <div class="alert alert-danger">
                                            {% for error in form.code.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="form__group">
                                    <input type="submit" value="{% trans "submit" %}" class="btn btn-submit btn-style-1">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content Wrapper Start -->

{% endblock content %}