{% load i18n %}
<!-- Footer Start-->
<footer class="footer">
    <div class="footer-top bg-color ptb--50" data-bg-color="#f6f6f6">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 text-center">
                    <div class="footer-widget mb--50">
                        <div class="textwidget">
                            <img src="assets/img/codingyar_logo.png" alt="Logo">
                        </div>
                    </div>
                    <div class="footer-widget mb--50 pb--1">
                        <ul class="footer-menu">
                            <li><a href="{% url "website:contact_us" %}">{% trans "contact us" %}</a></li>
                        </ul>
                    </div>
                    <div class="footer-widget">
                        my website: <a href="https://ho3ein770227.ir">ho3ein770227.ir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End-->