{% load i18n %}
<!-- Search form Popup Start -->
<div class="searchform__popup" id="searchForm">
    <a href="#" class="btn-close"><i class="flaticon flaticon-cross"></i></a>
    <div class="searchform__body">
        <p>{% trans "Enter your phrase in the box below" %}</p>
        <form action='{% url "website:search" %}' method='get' class="searchform">
            {% csrf_token %}
            <input type="text" name="q" id="popup-search" class="searchform__input" placeholder='{% trans "Search among products..." %}'>
            <button type="submit" class="searchform__submit"><i class="flaticon flaticon-magnifying-glass-icon"></i></button>
        </form>
    </div>
</div>
<!-- Search form Popup End -->